py4j
pandas-gbq
seaborn
python-lzo
# Hold back from the 3.0 upgrade, as it requires the BigQuery Storage API. See
# further in the Dockerfile for explanation of why BQ Storage is currently uninstalled.
google-cloud-bigquery<3.0.0
google-cloud-bigquery-datatransfer
google-cloud-resource-manager
statsmodels
ggplot
bokeh
pyfasta
pdoc3
biopython
bx-python
fastinterval
matplotlib-venn
bleach
cycler
h5py
html5lib
joblib
# Remove the version pin for keras when tensorflow is updated to 2.7 or higher.
keras==2.7.0
patsy
pymc3
# fix to 2.4.7 so that tensorflow still works
pyparsing==2.4.7
Cython
pysam
--no-binary=pysam
python-dateutil
pytz
pyvcf3
theano
tqdm
werkzeug
certifi
intel-openmp
mkl
wheel
plotnine
google-resumable-media
#adding intel optimized xgboost and intel extension for scikit-learn
scikit-learn-intelex
xgboost
