notebook==6.5.5
cookiecutter==2.3.0
tornado==6.3.3
python-datauri==2.1.0
jupyter_contrib_nbextensions==0.7.0
jupyter_nbextensions_configurator==0.6.3
markupsafe==2.1.2
nbconvert==7.2.9
nbclassic<0.5
cromshell==2.0.0